#home-page .team-card {
    min-height: 250px;
    margin-bottom: 20px;
}

#home-page .favorite-teams {
    min-height: 285px;
}

#home-page .team-card-title {
    margin-top: 13px;
}

#home-page .team-card .card-body {
    padding-bottom: 0px;
}

#home-page .calendar {
    margin-bottom: 30px;
    margin-top: 15px;
}