#league-page .card {
    height: 225px;
    color: black;
}

#league-page a:hover {
    text-decoration: none;
}

#league-page a:hover .card {
    background: #e9e9e9;
}

#league-page .card .card-body p {
    overflow-wrap: normal;
}

#league-page .header {
    margin-bottom: 2px;
}

#league-page .header img {
    height: 4.7rem;
    float: left;
    margin-right: 12px;
}

#league-page .header > div {
    display: inline-block;
}

#league-page .header > div h2{
    font-size: 2rem;
}



#league-page .group-date {
    font-size: 15px;
    margin-top: 50px;
}

#league-page .team-logo {
    width: 40px ;
}

