#team-page .team-logo {
    max-width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    #team-page .team-venue {
        width: 100%;
    }
}

#team-page .team-venue {
    margin-bottom: 10px;
}

#team-page .tab-content {
    margin-top: 15px;
}

#team-page .transfer-logo {
    max-height:50px;
}