.inline-fixture {
    margin-bottom: 10px;
}

.inline-fixture h3 {
    margin: 0px;
    font-size: 15px;
}

.inline-fixture img {
    margin: 10px;
    width: 50px;
}

.inline-fixture .score span {
    font-size: 20px;
    font-weight: bold;
}

.inline-fixture .fixture-elapsed-bar {
    height:2px;
}