.brief-card {
    width: 18rem;
}

.brief-card .card-body .image {
    width: 100%;
    min-height: 160px;
    text-align: center;
}

.brief-card .card-body .image img {
    padding: 20px;
    margin: auto;
    max-height: 150px;
    max-width: 100%;
}
